.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.nav-logo {
    text-align: left;
}

.nav-heading h1 {
    text-align: right;
    padding-top: 20px;
}

.nav-links {
    flex-direction: row;
    justify-content: flex-end;
}

.nav-links a {
    padding: 5px 10px;
    margin: 20px 0;
    background-color: transparent;
}

.greetings .tite h1 {
    font-size: 7rem;
}

.greetings .greet {
    margin: 80px 0;
}

.last .camel {
    margin-left: 20%;
    margin-top: 50px;
}

.last .camel img {
    width: 450px;
}

.last .footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 360px;
    margin-left: 120px;
}